<input [(ngModel)]="searchString" placeholder="Recherche de pokemon">
<input [(ngModel)]="id" placeholder="Enter Pokemon ID">
<input [(ngModel)]="id" readonly>
<select [(ngModel)]="id">
  <ng-container *ngIf="(l | async) as pokemonList">
    <option *ngFor="let poke of pokemonList | filterPokemonPipe : 'name' : searchString" [value]="poke.id">
    {{ poke.name }}
    </option>
  </ng-container>
</select><br>
<app-poke-infos [id]="id"></app-poke-infos>
<button (click)="afficherPokemon()">Go !</button>

